* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: min(320px) 1fr;
  color: white;
}

header {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  background-image: url(../images/pattern-bg-mobile.png);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

p.info_obtained {
  font-weight: 700;
  margin-top: 0.2rem;
}
/* -------------------------------------------------------- */
/* Recommendation from the leafletjs documentation: Make sure the map container has a defined height. */

#map {
  min-height: 180px;
  border: 0.1rem solid black;
}
/* -------------------------------------------------------- */

section#bubbles {
  height: 100%;
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

nav#searchBubble {
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  background-color: black;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

i#searchBtn {
  justify-self: center;
  background-image: url(/images/icon-arrow.svg);
  background-position: center;
  background-size: cover;
  width: 12px;
  height: 12px;
}

nav#searchBubble input {
  padding: 1rem 1rem;
  border: none;
  border-radius: 12px 0 0 12px;
  font-weight: bold;
}

nav#searchBubble input::placeholder {
  color: black;
}

/* ---------Accordion interactions--------- */
.accordionBubble {
  background-color: white;
  color: black;
  display: grid;
  /* grid-template-rows: 0.6fr; */
  /* transition: grid-template-rows 1000ms; */
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1;
}

/* ---For creating the accordion effect--- */

/* .accordionBubble > ul {
  overflow: hidden;
}

.accordionBubble.is-opened {
  grid-template-rows: 1fr;
} */
/* ------------------------------------------ */
p.accordion_description_texts {
  color: #9babb8;
  font-size: 0.5rem;
  font-weight: 500;
}
/* ---------Accordion interactions end--------- */
